body {
    font-family: 'Afacad', sans-serif;
    background-color: #2d2d2d;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.playlist-item {
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.playlist-item:hover {
    transform: scale(1.05);
}

.image-container {
    position: relative;
    margin-top: 2em;
    margin-right: 1em;
    display: flex;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.caption {
    padding: 10px;
    text-align: center;
    color: white;
}

.create-folder-button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
}

.delete-button {
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.nav div {
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.nav {
    width: 30px;
    display: block;
    margin-right: 1em;
    cursor: pointer;
}

.one {
    width: 30px;
}

.two {
    width: 20px;
}

.three {
    width: 25px;
}

.nav:hover .one, .nav:hover .two, .nav:hover .three {
    width: 30px;
}

/* Dropdown menu */

.open {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 1em;
    display: block;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    width: 0;
    overflow-x: hidden;
    height: 55vh;
    z-index: 1;
    background-color: rgba(34,65,93,0.9);
    transition: 0.5s;
    display: block;
}

.dropdown a {
    text-align: center;
    clear: left;
    color: white;
    font-size: 22px;
    display: block;
    text-decoration: none;
    padding: 1em 0;
    transition: 0.3s;
}

.close {
    float: left;
    margin: 1em 0 0 1em;
}

.dropdown a:not(:first-child):hover {
    background-color: #f7941d;
}

/* Spinning record animation*/
.record {
    padding: 20px;
}

.container {
    width: 175px;
    height: 175px;
    background-color: #ABC4AA;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 0 0 #675D50;
}
  
.plate {
   width: fit-content;
}
  
.plate .black,
.plate .white,
.plate .center,
.plate .border {
    border-radius: 100%;
}
  
.container,
.plate .black,
.plate .white,
.plate .border {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.plate .black {
    width: 150px;
    height: 150px;
    background-color: #675D50;
    animation: rotation 2s infinite linear;
}
  
@keyframes rotation {
from {
    transform: rotate(0deg);
    }
  
to {
    transform: rotate(359deg);
    }
}
  
.plate .white {
    width: 70px;
    height: 70px;
    background-color: #F3DEBA;
}
  
.plate .center {
    width: 20px;
    height: 20px;
    background-color: #675D50;
}
  
.plate .border {
    width: 111px;
    height: 111px;
    border-top: 3px solid #F3DEBA;
    border-bottom: 3px solid #F3DEBA;
    border-left: 3px solid #675D50;
    border-right: 3px solid #675D50;
}
  
.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
    margin-right: 8px;
    rotate: -45deg;
}
  
.player .circ {
    width: 25px;
    height: 25px;
    background-color: #F3DEBA;
    border-radius: 100%;
    z-index: 1;
}
  
.player .rect {
    width: 10px;
    height: 55px;
    background-color: #F3DEBA;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

/* Table styling */
table {
    border-collapse: collapse;
}

th, td {
    color: white;
    padding: 8px;
    font-size: 30px;
}

tr {
    border-bottom: 1px solid #fff;
}

/* Song player*/
.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
    background-color: #282828;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .album-cover {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
  }
  
  .player-controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .song-info {
    margin-bottom: 4px;
  }
  
  .song-title {
    font-size: 16px;
    color: #fff;
    margin: 0;
  }
  
  .artist {
    font-size: 12px;
    color: #b3b3b3;
    margin: 0;
  }
  
  .progress-bar {
    width: 100%;
    height: 4px;
    background-color: #4f4f4f;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .progress {
    width: 50%;
    height: 100%;
    background-color: #1db954;
    transform-origin: left;
    animation: progress-animation 10s linear infinite;
  }
  
  .buttons {
    display: flex;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .play-btn,
  .pause-btn {
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
    transition: transform 0.2s ease-in-out;
  }
  
  .play-btn:hover,
  .pause-btn:hover {
    transform: scale(1.2);
  }
  
  @keyframes progress-animation {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
    }
  }
  