body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Afacad', sans-serif; /* Apply the custom font to the entire page */
}

.form-container {
  text-align: center;
  width: 300px; /* Set a fixed width for the form container */
}

h1{
  margin-top: -50px;
}

h2 {
  color: white;
  margin-bottom: 25px;
  margin-top: -50px;
}

.logo {
  max-width: 60%; /* Make the logo responsive */
  height: auto;
  align-items:self-end;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  width: 100%; /* Make the button full-width */
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toggleForms {
  color: white;
  text-align: center;
  margin-top: 20px; /* Add some space above the "Already have an account?" text */
}