body {
    font-family: 'Afacad', sans-serif;
    background-color: #2d2d2d;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Add styling for the user profile section */
.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    border-radius: 50%;
    width: 80px; /* Adjust as needed */
    margin-right: 20px;
}

.user-info {
    color: #fff;
}

/* Add styling for follow stats */
.follow-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Add styling for the Edit Profile button */
.edit-profile button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile button:hover {
    background-color: #45a049;
}

/* Additional styling for better aesthetics */
header {
    background-color: #333;
    padding: 20px;
}

/* Add styling for the profile picture upload */
.profile-picture-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profile-picture-label img {
    border-radius: 50%;
    width: 80px; /* Adjust as needed */
    margin-bottom: 5px;
}
