body {
    font-family: 'Afacad', sans-serif;
    background-color: #2d2d2d;
    margin: 0;
    padding: 0;
    color: #fff;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

#edit-profile-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.user-profile img {
    border-radius: 50%;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.user-info {
    color: #fff;
    text-align: left;
}

.follow-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.follow-stats p {
    text-align: center;
}

.nft-info {
    margin-top: 20px;
    text-align: center;
}

.nft-count {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700; /* Gold color */
}

.nft-label {
    font-size: 18px;
}

.buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #1E90FF; /* Dodger Blue */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #4169E1; /* Royal Blue */
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
